* {
  margin: 0;
  padding: 0;
} 

.App {
  text-align: center;
}

.header {
  margin:10px;
}

.App-header {

}

.red {
  color:red;
}

.header {
  display:flex;
  justify-content:space-between;
}

.title {
  margin-left:2%;
}

.title:hover {
  cursor:pointer;
}

.header-title {
  flex:1;
}

.header-search-btn {
  flex:1;
}

@font-face {
  font-family: myFirstFont;
  src: url(../pixel-dead.ttf);
}

h1 {
  font-family: myFirstFont;
  color: darkgreen;
}

.add-set {
  display:flex;
  flex-direction:column;
}
.add-set-content {
  flex:1;
}
.add-set-list {
  flex:1;
}