.joke-main {
    display:flex;
    flex-direction:column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.joke-content {
    flex:1;
}
.edit-joke-button {
    flex:0;
    align-self:flex-end;
}
.joke-header, .joke-footer {
    flex:1;
    display:flex;
    flex-direction: row;
    height:max-content;
    width:auto;
    color:rgb(245, 245, 245);
    background-color: brown;
    border-style: solid;
    border-color:antiquewhite;
    border-radius:5%;
    align-items: center;
    justify-content:center;
    margin: 2% 2% 2% 2%;
}
